adaptive-workflow/Workflow/Maintenance_WF.asl.json
{
  "Comment": "Maintenance Workflow",
  "StartAt": "SupervisorApproval",
  "States": {
    "SupervisorApproval": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:ap-south-1:760924770588:function:Supervisor_Approval:$LATEST",
        "Payload": {
          "MachineId.$": "$.Input.CheckResult.Payload.MachineID"
        }
      },
      "Next": "CreateMaintenanceOrder"
    },
    "CreateMaintenanceOrder": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:ap-south-1:760924770588:function:CreateMaintenanceOrder:$LATEST",
        "Payload": {
          "MachineId.$": "$.Payload.MachineID"
        }
      },
      "Next": "AllocateResources"
    },
    "AllocateResources": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:ap-south-1:760924770588:function:Allocate_Resource:$LATEST",
        "Payload.$": "$.Payload"
      },
      "End": true
    }
  }
}